<div class="container">
    <h3>Login Form:</h3>
    <form #loginForm="ngForm" (ngSubmit)="formSubmitHandler()">
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" 
            id="email" 
            name="email" 
            required
            email
            ngModel 
            #emailInput="ngModel">
        </div>

        @if(emailInput.touched){
            <div>
            @if(emailInput.errors?.['required']) {
                <div style="color: red;">Email is recquired.</div>
            }

            @if(emailInput.errors?.['email']) {
                <div style="color: blue;">Email is not valid.</div>
            }
            </div>
        }
        
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" 
            id="password" 
            name="password" 
            ngModel 
            #passwordInput="ngModel">
        </div>

        <button>Login</button>
    </form>
</div>
