<app-nav-bar />
<h1>Hello, {{ title }}</h1>
<button (click)="handleClick()">Click</button>
<div><p>I am Nikolay and I am crazy about Angular!</p></div>
<app-users-list />
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, nobis illo expedita sint repudiandae dolorum totam, accusamus porro harum asperiores exercitationem ipsa laborum sequi obcaecati consectetur hic excepturi iusto deleniti!</p>

<!-- <div id="number-wraper">
    @for (n of numbers; track $index) {
        @if (n % 2 === 0) {
            <div class="num blue"> {{ n }}</div>
        } @else {
            <div class="num red"> {{ n }}</div>
        }
    }
</div> -->

<p>The site users are as follow</p>
<div>
    @for (user of siteUsers; track $index) {
        <p>{{user.name}} - {{user.age}}</p>
    }
</div>

<input type="text" placeholder="name" #inputName/>
<input type="text" placeholder="age" #inputAge/>
<button (click)="addUser(inputName, inputAge)">Add User</button>

<app-footer />

<router-outlet />
