#number-wraper{
    border: 2px solid black;
    border-radius: 15%;
    padding: 50px;
    margin: 0 auto;
    width: 300px;
    background-color: gray;
}

.num {
    border: 2px solid black;
    border-radius: 20px;
    margin: 5px;
    color: white;
    text-align: center;
}

.num:hover {
    background-color: aqua;
}

.red {
    background-color: rgb(188, 12, 12);
}

.blue {
    background-color: rgb(121, 121, 224);
}