<p app-highlight>home works!</p>

<hr />

<div routerLink="/login">Go to Login page</div>
<div routerLink="/register">Go to Register page</div>

<div appMyRouterLink="/login">Go to Login page</div>
<div appMyRouterLink="/register">Go to Register page</div>

<div [ngStyle]="{ background: 'red', width: '400px' }">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita provident reprehenderit ut sint quae possimus quia modi cumque fugit aperiam fuga, ratione dolore blanditiis porro totam minima ea culpa rem?</div>